@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter/Charter Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter/Charter Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter/Charter Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Charter';
  src: url('/fonts/charter/Charter Bold Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} 